################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyBusiness/bin/Debug/net5.0
/MyBusiness/obj
/MyBusiness.Models/obj
