################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyBusiness/bin/Debug/net5.0
/MyBusiness/obj
/MyBusiness.Models/obj
/MyBusiness.Data/obj
/MyBusiness.Utils/obj
/MyBusiness.Data/bin/Debug/net5.0
/MyBusiness.Models/bin/Debug/net5.0
/MyBusiness.Utils/bin/Debug/net5.0
/MyBusiness.MVC/bin/Debug/netcoreapp3.1
/MyBusiness.MVC/obj
